body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #464646;
}

/* Genericos */
.container {
  padding-left: 10.5vw;
  padding-right: 10.5vw;
}

.links {
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

/* Seccion header */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  align-items: center;
}

.header__img {
  margin-right: 8px;
  width: 24px;
}

.header__nombre {
  font-weight: 700;
  font-size: 16px;
}

.header__nav {
  display: flex;
  gap: 32px;
}

/* Section 1 main*/

.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 17px;
}

.section__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}

.section__parrafo {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 24px;
}

.section__nav {
  display: flex;
  gap: 32px;
}

.section__arrow {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.section__img {
  width: 368px;
  height: 368px;
  border-radius: 50%;
}

/* Section 2 */
