body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #464646;
}

/* Genericos */
.container {
  padding-left: 10.5vw;
  padding-right: 10.5vw;
}

.links {
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

/* Seccion header */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  align-items: center;
}

.header__img {
  margin-right: 8px;
  width: 24px;
}

.header__nombre {
  font-weight: 700;
  font-size: 16px;
}

.header__nav {
  display: flex;
  gap: 32px;
}

/* Section 1 main*/

.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 17px;
  margin-bottom: 32px;
  width: 100%;
  box-sizing: border-box;
}

.section__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}

.section__parrafo {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 24px;
}

.section__nav {
  display: flex;
  gap: 32px;
}

.section__arrow {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.section__img {
  width: 368px;
  height: 368px;
  border-radius: 50%;
}

/* Section 2 */
.section-2 {
  background-color: #eaf2fd;
  padding: 64px 152px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.section-2__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 0 0 16px;
}

.section-2__parrafo {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* Section 3 */
.section-3 {
  background-color: #efefef;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 152px;
}

.section-3__title {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 32px;
}

.section-3__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 176px;
  gap: 16px;
  margin-bottom: 88px;
}

.section-3__item {
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding: 16px;
}

/* Section 4 */

.section-4 {
  background-color: #eaf2fd;
  width: 100%;
  box-sizing: border-box;
  padding: 82px 152px;
}

.section-4__title {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.section-4__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  height: 343px;
}

.section-4__contenido {
  display: flex;
  flex-direction: column;
}

.section-4__item {
  background-color: white;
  padding: 78px 90px;
}

.section-4__texto {
  font-size: 22px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
}

.section-4__parrafo {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
}
